:root {
  --accent-color: #ffee88;
  --background-color: hsl(340, 86%, 57%);
  --border-color: hsl(51, 100%, 87%);
  --active-border-color: hsl(51, 100%, 67%);
  --text-color: #fff;
  --text-secondary-color: #eee;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  box-sizing: inherit;
  height: 100%;
  background-color: var(--background-color);
}

body {
  height: 100%;
  max-width: 512px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}

h1 {
  font-weight: bold;
  margin: 0;
  padding: 2rem;
}

.mainContainer {
  display: grid;
  gap: 1rem;
}

.inputContainer {
  border: none;
  outline: none;
  display: flex;
  padding: 0;
  gap: 1rem;
}

@media (max-width: 512px) {
  .inputContainer {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--border-color);
  background-color: transparent;
  color: var(--text-color);
  padding: 1rem 0;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: bold;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.input:focus {
  border-bottom: 3px solid var(--active-border-color);
}

.input::placeholder {
  text-transform: none;
  color: var(--text-secondary-color);
}

.submit {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--accent-color);
  font-weight: bold;
}

.hint {
  font-size: 1.1rem;
  color: var(--text-secondary-color);
}

.hiddenHint {
  display: none;
}

.hintDirection {
  font-weight: bold;
}

.word {
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.wordsContainer {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 0.3rem;
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.beforeWordsContainer {
  flex-direction: column;
}

.afterWordsContainer {
  flex-direction: column-reverse;
}

.pastWord {
  color: var(--text-secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
